{% extends "base/base.html" %} {% block content %}
<div class="container mt-5">
  <form class="form-inline d-flex me-2 mb-5" method="get">
    <input
      class="form-control me-2"
      type="search"
      placeholder="modelo ou placa"
      aria-label="Buscar"
      name="search"
      value="{{ query|default:'' }}"
    />
    <button class="btn btn-outline-primary me-2" type="submit">Buscar</button>

    {% if query %}
    <a href="{% url 'index' %}" class="btn btn-outline-secondary">Limpar</a>
    {% endif %}
  </form>
  <div class="row g-4">
    {% for vehicle in vehicles %}
    <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
      <div class="card border-0 shadow-sm" style="width: 18rem">
        <img
          src="../{{ vehicle.image }}"
          class="card-img-top"
          alt="{{ vehicle.name }}"
          style="
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
          "
        />
        <div class="card-body d-flex flex-column">
          <h5>{{ vehicle.model | title }}</h5>
          <p class="card-text text-muted mb-3">
            <strong>Classe:</strong> {{ vehicle.vehicle_class | title}}
          </p>
          <div class="mt-auto d-flex justify-content-between">
            <a
              href="{% url 'vehicle_detail' vehicle.id %}"
              class="btn btn-outline-secondary btn-sm w-50 ms-1"
              >Ver detalhes</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <nav aria-label="Paginacao" class="mt-4">
    <ul class="pagination justify-content-center">
      {% if vehicles.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ vehicles.previous_page_number }}&sort={{ sort }}&order={{ order }}&search={{ query|urlencode }}"
          aria-label="Anterior"
        >
          ‹
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Anterior">‹</span>
      </li>
      {% endif %}

      <li class="page-item active">
        <span class="page-link">{{ vehicles.number }}</span>
      </li>

      {% if vehicles.has_next %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ vehicles.next_page_number }}&sort={{ sort }}&order={{ order }}&search={{ query|urlencode }}"
          aria-label="Próxima"
        >
          ›
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Próxima">›</span>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock content %}
