{% extends "base/base.html" %}
{% block content %}
<style>
  .money-input-wrapper {
    position: relative;
  }

  .money-symbol {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #000000; /* cor clarinha */
    font-size: 0.9rem;
    pointer-events: none;
  }

  .money-input-wrapper input {
    padding-left: 30px !important; /* espaço pro R$ */
  }
</style>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
          <h3 class="mb-0">Cadastro de Classe de Veículos</h3>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            <div class="mb-3">
              <label for="{{ form.name.id_for_label }}" class="form-label">Nome da Classe:</label>
              {{ form.name }}
            </div>

            <div class="mb-3">
              <label for="{{ form.description.id_for_label }}" class="form-label">Descrição:</label>
              {{ form.description }}
            </div>

            <div class="mb-3">
              <label for="{{ form.daily_price.id_for_label }}" class="form-label">Preço Diário:</label>
              <div class="money-input-wrapper">
                <span class="money-symbol">R$</span>
                {{ form.daily_price }}
              </div>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-3">
              <a
                href="{% url 'list_vehicle_classes' %}"
                class="btn btn-outline-secondary d-flex align-items-center"
              >
                <i class="bi bi-arrow-left me-2"></i> Voltar
              </a>
              <button
                type="reset"
                class="btn btn-secondary d-flex align-items-center"
              >
                <i class="bi bi-x-circle me-2"></i> Limpar
              </button>
              <button
                type="submit"
                class="btn btn-primary d-flex align-items-center"
              >
                <i class="bi bi-check-circle me-2"></i> Cadastrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

